@layer components {
  .breadcrumb-list {
    @apply flex flex-wrap items-center gap-1.5 text-sm text-muted-foreground;

    list-style: none;
    margin: 0;
    padding: 0;
    word-break: break-word;
  }

  .breadcrumb-item {
    @apply inline-flex items-center gap-1;
  }

  .breadcrumb-link {
    @apply transition-colors hover:text-foreground;

    color: inherit;
    text-decoration: none;
  }

  .breadcrumb-page {
    @apply font-normal text-foreground;
  }

  .breadcrumb-separator > svg {
    @apply size-3.5;
  }

  .breadcrumb-ellipsis {
    @apply flex size-5 items-center justify-center;
  }

  .breadcrumb-ellipsis > svg {
    @apply size-4;
  }
}
