@layer components {
  .card {
    --card-spacing: calc(var(--spacing) * 6);

    @apply flex flex-col rounded-xl border bg-card text-card-foreground shadow-sm;

    gap: var(--card-spacing);
    padding-block: var(--card-spacing);
  }

  .card[data-size="sm"] {
    --card-spacing: calc(var(--spacing) * 4);
  }

  .card-header {
    @apply grid auto-rows-min items-start gap-1.5;
    @apply has-[.card-action]:grid-cols-[1fr_auto];

    padding-inline: var(--card-spacing);
  }

  .card-action {
    @apply col-start-2 row-span-2 row-start-1 self-start justify-self-end;
  }

  .card-title {
    @apply leading-none font-semibold;
  }

  .card-description {
    @apply text-sm text-muted-foreground;
  }

  .card-content {
    padding-inline: var(--card-spacing);
  }

  .card-footer {
    @apply flex items-center gap-2;

    padding-inline: var(--card-spacing);
  }
}
